# Óbitos por SRAG não especificado entre 2015 e 2021

Este notebook foi produzido para realizar análise da série histórica dos óbitos por Síndrome Respiratória Aguda Grave (SRAG) Não Especificada no Brasil e no estado do Ceará entre os anos 2015 e 2021. Esse quadro por ser causado por influenza ou outros vírus respiratórios. Desde 2020, com ele também passou a ser causado pelo Sars-Cov-2, vírus causador da Covid-19, doença que levou à pandemia. O aumento dos óbitos com a classificação `não especificada` nos anos da pandemia aponta para subnotificação de óbitos por Covid-19. 

Para a análise de dados que baseou a reportagem, foram utilizadas informações disponíveis no Open DataSUS e retiradas no dia 14/09/2021. As bases oficiais estão em constante atualização. Os arquivos utilizados estão em `.csv`.

Links para as bases de dados:
* 2021: https://opendatasus.saude.gov.br/dataset/bd-srag-2021 
* 2020: https://opendatasus.saude.gov.br/dataset/bd-srag-2020 
* 2019: https://opendatasus.saude.gov.br/dataset/bd-srag-2019 
* 2013 a 2018: https://opendatasus.saude.gov.br/dataset/bd-srag-2012-a-2018

In [1]:
import pandas as pd
import numpy as np

## **Passo 1:** Carregar e organizar dados de cada ano

### Ano: 2015

In [2]:
# importar dados referentes a 2015

srag2015 = pd.read_csv('influd15_limpo-final.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# filtrar colunas desejadas da tabela de 2015

dados_2015 = srag2015.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_OBITO']]

In [4]:
# criar coluna 'DT_EVOLUCA' para poder concatenar posteriormente com os dados de 2019 a 2021

dados_2015['DT_EVOLUCA'] = dados_2015['DT_OBITO']

In [5]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime

dados_2015['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2015['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2015['DATA_SIN_PRI'] = pd.to_datetime(dados_2015['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2015['DATA_INTERNACAO'] = pd.to_datetime(dados_2015['DT_INTERNA'], format='%d/%m/%Y')
dados_2015['DATA_EVOLUCAO'] = pd.to_datetime(dados_2015['DT_EVOLUCA'], format='%d/%m/%Y')

In [6]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2015['ANO_NOTIFICACAO'] = dados_2015['DATA_NOTIFICACAO'].dt.year
dados_2015['ANO_SIN_PRI'] = dados_2015['DATA_SIN_PRI'].dt.year
dados_2015['ANO_INTERNACAO'] = dados_2015['DATA_INTERNACAO'].dt.year
dados_2015['ANO_EVOLUCAO'] = dados_2015['DATA_EVOLUCAO'].dt.year

In [7]:
# criar novo dataframe sem a coluna 'DT_OBITO' das tabelas referente a 2015
dados_2015_02 = dados_2015.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE', 'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA', 'DATA_NOTIFICACAO', 'DATA_SIN_PRI', 'DATA_INTERNACAO', 'DATA_EVOLUCAO', 'ANO_NOTIFICACAO', 'ANO_SIN_PRI', 'ANO_INTERNACAO', 'ANO_EVOLUCAO']]

In [8]:
dados_2015_02['DATA_NOTIFICACAO'].describe(datetime_is_numeric=True)

count                            14818
mean     2015-06-24 20:41:39.446618880
min                2015-01-04 00:00:00
25%                2015-04-28 00:00:00
50%                2015-06-14 00:00:00
75%                2015-08-17 00:00:00
max                2018-06-26 00:00:00
Name: DATA_NOTIFICACAO, dtype: object

In [9]:
dados_2015_02['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                            14818
mean     2015-06-15 18:05:41.098663936
min                2015-01-04 00:00:00
25%                2015-04-20 00:00:00
50%                2015-06-06 00:00:00
75%                2015-08-08 00:00:00
max                2015-12-28 00:00:00
Name: DATA_SIN_PRI, dtype: object

### Ano: 2016

In [10]:
# importar dados referentes a 2016

srag2016 = pd.read_csv('influd16_limpo-final.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
# filtrar colunas desejadas da tabela de 2016

dados_2016 = srag2016.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_OBITO']]

In [12]:
# criar coluna 'DT_EVOLUCA' para poder concatenar posteriormente com os dados de 2019 a 2021

dados_2016['DT_EVOLUCA'] = dados_2016['DT_OBITO']

In [13]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime

dados_2016['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2016['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2016['DATA_SIN_PRI'] = pd.to_datetime(dados_2016['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2016['DATA_INTERNACAO'] = pd.to_datetime(dados_2016['DT_INTERNA'], format='%d/%m/%Y')
dados_2016['DATA_EVOLUCAO'] = pd.to_datetime(dados_2016['DT_EVOLUCA'], format='%d/%m/%Y')

In [14]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2016['ANO_NOTIFICACAO'] = dados_2016['DATA_NOTIFICACAO'].dt.year
dados_2016['ANO_SIN_PRI'] = dados_2016['DATA_SIN_PRI'].dt.year
dados_2016['ANO_INTERNACAO'] = dados_2016['DATA_INTERNACAO'].dt.year
dados_2016['ANO_EVOLUCAO'] = dados_2016['DATA_EVOLUCAO'].dt.year

In [15]:
# criar novo dataframe sem a coluna 'DT_OBITO' das tabelas referente a 2016
dados_2016_02 = dados_2016.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE', 'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA', 'DATA_NOTIFICACAO', 'DATA_SIN_PRI', 'DATA_INTERNACAO', 'DATA_EVOLUCAO', 'ANO_NOTIFICACAO', 'ANO_SIN_PRI', 'ANO_INTERNACAO', 'ANO_EVOLUCAO']]

In [16]:
dados_2016_02['DATA_NOTIFICACAO'].describe(datetime_is_numeric=True)

count                            55228
mean     2016-06-01 15:15:30.049974528
min                2016-01-04 00:00:00
25%                2016-04-13 00:00:00
50%                2016-05-13 00:00:00
75%                2016-07-03 00:00:00
max                2018-11-29 00:00:00
Name: DATA_NOTIFICACAO, dtype: object

In [17]:
dados_2016_02['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                            55228
mean     2016-05-26 06:04:36.903020544
min                2016-01-03 00:00:00
25%                2016-04-08 00:00:00
50%                2016-05-08 00:00:00
75%                2016-06-26 00:00:00
max                2016-12-31 00:00:00
Name: DATA_SIN_PRI, dtype: object

### Ano: 2017

In [18]:
# importar dados referentes a 2017

srag2017 = pd.read_csv('influd17_limpo-final.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (75) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
# filtrar colunas desejadas da tabela de 2017

dados_2017 = srag2017.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_OBITO']]

In [20]:
# criar coluna 'DT_EVOLUCA' para poder concatenar posteriormente com os dados de 2019 a 2021

dados_2017['DT_EVOLUCA'] = dados_2017['DT_OBITO']

In [21]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime

dados_2017['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2017['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2017['DATA_SIN_PRI'] = pd.to_datetime(dados_2017['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2017['DATA_INTERNACAO'] = pd.to_datetime(dados_2017['DT_INTERNA'], format='%d/%m/%Y')
dados_2017['DATA_EVOLUCAO'] = pd.to_datetime(dados_2017['DT_EVOLUCA'], format='%d/%m/%Y')

In [22]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2017['ANO_NOTIFICACAO'] = dados_2017['DATA_NOTIFICACAO'].dt.year
dados_2017['ANO_SIN_PRI'] = dados_2017['DATA_SIN_PRI'].dt.year
dados_2017['ANO_INTERNACAO'] = dados_2017['DATA_INTERNACAO'].dt.year
dados_2017['ANO_EVOLUCAO'] = dados_2017['DATA_EVOLUCAO'].dt.year

In [23]:
# criar novo dataframe sem a coluna 'DT_OBITO' das tabelas referente a 2017
dados_2017_02 = dados_2017.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE', 'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA', 'DATA_NOTIFICACAO', 'DATA_SIN_PRI', 'DATA_INTERNACAO', 'DATA_EVOLUCAO', 'ANO_NOTIFICACAO', 'ANO_SIN_PRI', 'ANO_INTERNACAO', 'ANO_EVOLUCAO']]

In [24]:
dados_2017_02['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                            29921
mean     2017-06-18 14:51:50.190167552
min                2017-01-01 00:00:00
25%                2017-04-20 00:00:00
50%                2017-06-06 00:00:00
75%                2017-08-13 00:00:00
max                2017-12-31 00:00:00
Name: DATA_SIN_PRI, dtype: object

### Ano: 2018

In [25]:
# importar dados referentes a 2018

srag2018 = pd.read_csv('influd18_limpo-final.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
# filtrar colunas desejadas da tabela de 2018

dados_2018 = srag2018.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_OBITO']]

In [27]:
# criar coluna 'DT_EVOLUCA' para poder concatenar posteriormente com os dados de 2019 a 2021

dados_2018['DT_EVOLUCA'] = dados_2018['DT_OBITO']

In [28]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime

dados_2018['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2018['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2018['DATA_SIN_PRI'] = pd.to_datetime(dados_2018['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2018['DATA_INTERNACAO'] = pd.to_datetime(dados_2018['DT_INTERNA'], format='%d/%m/%Y')
dados_2018['DATA_EVOLUCAO'] = pd.to_datetime(dados_2018['DT_EVOLUCA'], format='%d/%m/%Y')

In [29]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2018['ANO_NOTIFICACAO'] = dados_2018['DATA_NOTIFICACAO'].dt.year
dados_2018['ANO_SIN_PRI'] = dados_2018['DATA_SIN_PRI'].dt.year
dados_2018['ANO_INTERNACAO'] = dados_2018['DATA_INTERNACAO'].dt.year
dados_2018['ANO_EVOLUCAO'] = dados_2018['DATA_EVOLUCAO'].dt.year

In [30]:
# criar novo dataframe sem a coluna 'DT_OBITO' das tabelas referente a 2018
dados_2018_02 = dados_2018.loc[:,['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'CO_UF_INTE', 'CO_MU_INTE', 'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA', 'DATA_NOTIFICACAO', 'DATA_SIN_PRI', 'DATA_INTERNACAO', 'DATA_EVOLUCAO', 'ANO_NOTIFICACAO', 'ANO_SIN_PRI', 'ANO_INTERNACAO', 'ANO_EVOLUCAO']]

In [31]:
dados_2018_02['DATA_NOTIFICACAO'].describe(datetime_is_numeric=True)

count                            48474
mean     2018-06-27 08:44:31.815818496
min                2017-12-31 00:00:00
25%                2018-05-06 00:00:00
50%                2018-06-17 00:00:00
75%                2018-08-09 00:00:00
max                2019-08-01 00:00:00
Name: DATA_NOTIFICACAO, dtype: object

In [32]:
dados_2018_02['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                            48474
mean     2018-06-21 00:29:15.662829568
min                2017-12-31 00:00:00
25%                2018-04-30 00:00:00
50%                2018-06-10 00:00:00
75%                2018-08-03 00:00:00
max                2018-12-29 00:00:00
Name: DATA_SIN_PRI, dtype: object

### Ano: 2019

In [33]:
# importar dados referentes a 2019

srag2019 = pd.read_csv('influd19_limpo-27.04.2020-final.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (97,105,107,133) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [34]:
dados_2019 = srag2019.loc[:, ['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'SG_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA']]

In [35]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime

dados_2019['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2019['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2019['DATA_SIN_PRI'] = pd.to_datetime(dados_2019['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2019['DATA_INTERNACAO'] = pd.to_datetime(dados_2019['DT_INTERNA'], format='%d/%m/%Y')
dados_2019['DATA_EVOLUCAO'] = pd.to_datetime(dados_2019['DT_EVOLUCA'], format='%d/%m/%Y')

In [36]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2019['ANO_NOTIFICACAO'] = dados_2019['DATA_NOTIFICACAO'].dt.year
dados_2019['ANO_SIN_PRI'] = dados_2019['DATA_SIN_PRI'].dt.year
dados_2019['ANO_INTERNACAO'] = dados_2019['DATA_INTERNACAO'].dt.year
dados_2019['ANO_EVOLUCAO'] = dados_2019['DATA_EVOLUCAO'].dt.year

In [37]:
dados_2019['DATA_NOTIFICACAO'].describe(datetime_is_numeric=True)

count                            48528
mean     2019-06-22 23:44:12.818991360
min                2018-12-30 00:00:00
25%                2019-04-28 00:00:00
50%                2019-06-11 00:00:00
75%                2019-08-13 00:00:00
max                2020-04-11 00:00:00
Name: DATA_NOTIFICACAO, dtype: object

In [38]:
dados_2019['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                            48528
mean     2019-06-16 07:20:51.632047360
min                2018-12-30 00:00:00
25%                2019-04-21 00:00:00
50%                2019-06-05 00:00:00
75%                2019-08-06 00:00:00
max                2019-12-28 00:00:00
Name: DATA_SIN_PRI, dtype: object

### Ano: 2020

In [39]:
# importar dados referentes a 2020

srag2020 = pd.read_csv('INFLUD-20-09-2021.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (15,18,60,62,63,64,92,94,106,115,117,118,119,123) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [40]:
dados_2020 = srag2020.loc[:, ['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'SG_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA']]

In [41]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime
# Foi necessário utilizar 'errors = 'coerce'' para corrigir o erro 'OutOfBoundsDatetime'

dados_2020['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2020['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2020['DATA_SIN_PRI'] = pd.to_datetime(dados_2020['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2020['DATA_INTERNACAO'] = pd.to_datetime(dados_2020['DT_INTERNA'], format='%d/%m/%Y', errors = 'coerce')
dados_2020['DATA_EVOLUCAO'] = pd.to_datetime(dados_2020['DT_EVOLUCA'], format='%d/%m/%Y')

In [42]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2020['ANO_NOTIFICACAO'] = dados_2020['DATA_NOTIFICACAO'].dt.year
dados_2020['ANO_SIN_PRI'] = dados_2020['DATA_SIN_PRI'].dt.year
dados_2020['ANO_INTERNACAO'] = dados_2020['DATA_INTERNACAO'].dt.year
dados_2020['ANO_EVOLUCAO'] = dados_2020['DATA_EVOLUCAO'].dt.year

In [43]:
dados_2020['DATA_NOTIFICACAO'].describe(datetime_is_numeric=True)

count                          1198714
mean     2020-08-17 01:15:34.667651584
min                2019-12-29 00:00:00
25%                2020-06-09 00:00:00
50%                2020-08-07 00:00:00
75%                2020-10-29 00:00:00
max                2021-09-17 00:00:00
Name: DATA_NOTIFICACAO, dtype: object

In [44]:
dados_2020['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                          1198714
mean     2020-08-06 18:29:18.720762624
min                2019-12-29 00:00:00
25%                2020-05-29 00:00:00
50%                2020-07-28 00:00:00
75%                2020-10-20 00:00:00
max                2021-01-02 00:00:00
Name: DATA_SIN_PRI, dtype: object

### Ano: 2021

In [45]:
# importar dados referentes a 2021

srag2021 = pd.read_csv('INFLUD21-20-09-2021.csv', sep=';', encoding='latin-1')

C:\Users\55859\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (15,18,60,62,63,64,92,94,106,115,117,118,119,123,144) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [46]:
dados_2021 = srag2021.loc[:, ['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'SG_UF_INTE', 'CO_MU_INTE',  'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA']]

In [47]:
# transformar colunas 'DT_NOTIFIC', 'DT_INTERNA' e 'DT_EVOLUCA' em datetime.
# Foi necessário utilizar 'errors = 'coerce'' para corrigir o erro 'OutOfBoundsDatetime'

dados_2021['DATA_NOTIFICACAO'] = pd.to_datetime(dados_2021['DT_NOTIFIC'], format='%d/%m/%Y')
dados_2021['DATA_SIN_PRI'] = pd.to_datetime(dados_2021['DT_SIN_PRI'], format='%d/%m/%Y')
dados_2021['DATA_INTERNACAO'] = pd.to_datetime(dados_2021['DT_INTERNA'], format='%d/%m/%Y', errors = 'coerce')
dados_2021['DATA_EVOLUCAO'] = pd.to_datetime(dados_2021['DT_EVOLUCA'], format='%d/%m/%Y')

In [48]:
# criar colunas com respectivo ano, a partir das colunas de data de notificação, internação e evolução

dados_2021['ANO_NOTIFICACAO'] = dados_2021['DATA_NOTIFICACAO'].dt.year
dados_2021['ANO_SIN_PRI'] = dados_2021['DATA_SIN_PRI'].dt.year
dados_2021['ANO_INTERNACAO'] = dados_2021['DATA_INTERNACAO'].dt.year
dados_2021['ANO_EVOLUCAO'] = dados_2021['DATA_EVOLUCAO'].dt.year

In [49]:
dados_2021['DATA_NOTIFICACAO'].describe(datetime_is_numeric=True)

count                          1489983
mean     2021-04-30 21:09:31.572963584
min                2021-01-03 00:00:00
25%                2021-03-15 00:00:00
50%                2021-04-26 00:00:00
75%                2021-06-14 00:00:00
max                2021-09-19 00:00:00
Name: DATA_NOTIFICACAO, dtype: object

In [50]:
dados_2021['DATA_SIN_PRI'].describe(datetime_is_numeric=True)

count                          1489983
mean     2021-04-20 18:22:57.588335104
min                2021-01-03 00:00:00
25%                2021-03-05 00:00:00
50%                2021-04-15 00:00:00
75%                2021-06-03 00:00:00
max                2021-09-19 00:00:00
Name: DATA_SIN_PRI, dtype: object

## **Passo 3:** Replace - substituir informações de acordo com dicionário de dados
### DE 2015 A 2018

Criar colunas **'TXT_CLASSI_FIN'** e **'TXT_EVOLUCAO'** para tabelas de 2015 a 2018 a partir do que cada uma das informações significa

Coluna **'CLASSI_FIN'**

1 - SRAG por Influenza\
2 - SRAG por outros vírus respiratórios\
3 - SRAG por outros agentes etiológicos\
4 - SRAG não especificado\

Coluna **'EVOLUCAO'**

1 - Recebeu alta por cura\
2 - Evoluiu para óbito\
9 - Ignorado

Coluna **'HOSPITAL'**

1 - Sim\
2 - Não\
9 - Ignorado


Dicionário de dados para anos 2013 a 2018: https://opendatasus.saude.gov.br/dataset/e6b03178-551c-495c-9935-adaab4b2f966/resource/fa75a98d-f4dc-484d-b1f4-4f2286a84952/download/dic_dados_srag_nova.pdf-out-2012-a-dez-2018.pdf

### ANO: 2015

In [51]:
# Criar coluna 'SG_UF_INTE' a partir da troca dos códicos do IBGE de cada UF pela sigla dos estados e do DF, para posteriormente poder concatenar com os dados de 2019, 2020 e 2021

dados_2015_02['SG_UF_INTE'] = dados_2015_02['CO_UF_INTE'].replace({11: 'RO',
                                                                    12: 'AC',
                                                                    13: 'AM',
                                                                    14: 'RR',
                                                                    15: 'PA',
                                                                    16: 'AP',
                                                                    17: 'TO',
                                                                    21: 'MA',
                                                                    22: 'PI',
                                                                    23: 'CE',
                                                                    24: 'RN',
                                                                    25: 'PB',
                                                                    26: 'PE',
                                                                    27: 'AL',
                                                                    28: 'SE',
                                                                    29: 'BA',
                                                                    31: 'MG',
                                                                    32: 'ES',
                                                                    33: 'RJ',
                                                                    35: 'SP',
                                                                    41: 'PR',
                                                                    42: 'SC',
                                                                    43: 'RS',
                                                                    50: 'MS',
                                                                    51: 'MT',
                                                                    52: 'GO',
                                                                    53: 'DF'})

In [52]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2015_02['TXT_CLASSI_FIN'] = dados_2015_02['CLASSI_FIN'].replace({1.0: 'SRAG por Influenza',
                                                                       2.0: 'SRAG por outros vírus respiratórios',
                                                                       3.0: 'SRAG por outros agentes etiológicos',
                                                                       4.0: 'SRAG não especificado'})

In [53]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2015_02['TXT_EVOLUCAO'] = dados_2015_02['EVOLUCAO'].replace({1.0: 'Recebeu alta por cura',
                                                                   2.0: 'Evoluiu para óbito',
                                                                   9.0: 'Ignorado'})

In [54]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2015_02['TXT_HOSPITAL'] = dados_2015_02['HOSPITAL'].replace({1.0: 'Sim',
                                                                   2.0: 'Não',
                                                                   9.0: 'Ignorado'})

### ANO: 2016

In [55]:
# Criar coluna 'SG_UF_INTE' a partir da troca dos códicos do IBGE de cada UF pela sigla dos estados e do DF, para posteriormente poder concatenar com os dados de 2019, 2020 e 2021

dados_2016_02['SG_UF_INTE'] = dados_2016_02['CO_UF_INTE'].replace({11: 'RO',
                                                            12: 'AC',
                                                            13: 'AM',
                                                            14: 'RR',
                                                            15: 'PA',
                                                            16: 'AP',
                                                            17: 'TO',
                                                            21: 'MA',
                                                            22: 'PI',
                                                            23: 'CE',
                                                            24: 'RN',
                                                            25: 'PB',
                                                            26: 'PE',
                                                            27: 'AL',
                                                            28: 'SE',
                                                            29: 'BA',
                                                            31: 'MG',
                                                            32: 'ES',
                                                            33: 'RJ',
                                                            35: 'SP',
                                                            41: 'PR',
                                                            42: 'SC',
                                                            43: 'RS',
                                                            50: 'MS',
                                                            51: 'MT',
                                                            52: 'GO',
                                                            53: 'DF'})

In [56]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2016_02['TXT_CLASSI_FIN'] = dados_2016_02['CLASSI_FIN'].replace({1.0: 'SRAG por Influenza',
                                                                       2.0: 'SRAG por outros vírus respiratórios',
                                                                       3.0: 'SRAG por outros agentes etiológicos',
                                                                       4.0: 'SRAG não especificado'})

In [57]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2016_02['TXT_EVOLUCAO'] = dados_2016_02['EVOLUCAO'].replace({1.0: 'Recebeu alta por cura',
                                                                   2.0: 'Evoluiu para óbito',
                                                                   9.0: 'Ignorado'})

In [58]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2016_02['TXT_HOSPITAL'] = dados_2016_02['HOSPITAL'].replace({1.0: 'Sim',
                                                                   2.0: 'Não',
                                                                   9.0: 'Ignorado'})

### ANO: 2017

In [59]:
# Criar coluna 'SG_UF_INTE' a partir da troca dos códicos do IBGE de cada UF pela sigla dos estados e do DF, para posteriormente poder concatenar com os dados de 2019, 2020 e 2021

dados_2017_02['SG_UF_INTE'] = dados_2017_02['CO_UF_INTE'].replace({11: 'RO',
                                                            12: 'AC',
                                                            13: 'AM',
                                                            14: 'RR',
                                                            15: 'PA',
                                                            16: 'AP',
                                                            17: 'TO',
                                                            21: 'MA',
                                                            22: 'PI',
                                                            23: 'CE',
                                                            24: 'RN',
                                                            25: 'PB',
                                                            26: 'PE',
                                                            27: 'AL',
                                                            28: 'SE',
                                                            29: 'BA',
                                                            31: 'MG',
                                                            32: 'ES',
                                                            33: 'RJ',
                                                            35: 'SP',
                                                            41: 'PR',
                                                            42: 'SC',
                                                            43: 'RS',
                                                            50: 'MS',
                                                            51: 'MT',
                                                            52: 'GO',
                                                            53: 'DF'})

In [60]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2017_02['TXT_CLASSI_FIN'] = dados_2017_02['CLASSI_FIN'].replace({1.0: 'SRAG por Influenza',
                                                                       2.0: 'SRAG por outros vírus respiratórios',
                                                                       3.0: 'SRAG por outros agentes etiológicos',
                                                                       4.0: 'SRAG não especificado'})

In [61]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2017_02['TXT_EVOLUCAO'] = dados_2017_02['EVOLUCAO'].replace({1.0: 'Recebeu alta por cura',
                                                                   2.0: 'Evoluiu para óbito',
                                                                   9.0: 'Ignorado'})

In [62]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2017_02['TXT_HOSPITAL'] = dados_2017_02['HOSPITAL'].replace({1.0: 'Sim',
                                                                   2.0: 'Não',
                                                                   9.0: 'Ignorado'})

### ANO: 2018

In [63]:
# Criar coluna 'SG_UF_INTE' a partir da troca dos códicos do IBGE de cada UF pela sigla dos estados e do DF, para posteriormente poder concatenar com os dados de 2019, 2020 e 2021

dados_2018_02['SG_UF_INTE'] = dados_2018_02['CO_UF_INTE'].replace({11: 'RO',
                                                            12: 'AC',
                                                            13: 'AM',
                                                            14: 'RR',
                                                            15: 'PA',
                                                            16: 'AP',
                                                            17: 'TO',
                                                            21: 'MA',
                                                            22: 'PI',
                                                            23: 'CE',
                                                            24: 'RN',
                                                            25: 'PB',
                                                            26: 'PE',
                                                            27: 'AL',
                                                            28: 'SE',
                                                            29: 'BA',
                                                            31: 'MG',
                                                            32: 'ES',
                                                            33: 'RJ',
                                                            35: 'SP',
                                                            41: 'PR',
                                                            42: 'SC',
                                                            43: 'RS',
                                                            50: 'MS',
                                                            51: 'MT',
                                                            52: 'GO',
                                                            53: 'DF'})

In [64]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2018_02['TXT_CLASSI_FIN'] = dados_2018_02['CLASSI_FIN'].replace({1.0: 'SRAG por Influenza',
                                                                       2.0: 'SRAG por outros vírus respiratórios',
                                                                       3.0: 'SRAG por outros agentes etiológicos',
                                                                       4.0: 'SRAG não especificado'})

In [65]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2018_02['TXT_EVOLUCAO'] = dados_2018_02['EVOLUCAO'].replace({1.0: 'Recebeu alta por cura',
                                                                   2.0: 'Evoluiu para óbito',
                                                                   9.0: 'Ignorado'})

In [66]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2018_02['TXT_HOSPITAL'] = dados_2018_02['HOSPITAL'].replace({1.0: 'Sim',
                                                                   2.0: 'Não',
                                                                   9.0: 'Ignorado'})

## **Passo 5:** Replace - substituir informações de acordo com dicionário de dados
### DE 2019 A 2021

Criar colunas **'TXT_CLASSI_FIN'** e **'TXT_EVOLUCAO'** para tabelas de 2019 a 2021 a partir do que cada uma das informações significa

Coluna **'CLASSI_FIN'**

**2019**

1 - SRAG por influenza\
2 - SRAG por outro vírus respiratório\
3 - SRAG por outro agente Etiológico, qual:\
4 - SRAG não especificado\
5 - COVID-19

**2020/2021**

1 - SRAG por influenza\
2 - SRAG por outro vírus respiratório\
3 - SRAG por outro agente etiológico, qual:\
4 - SRAG não especificado\
5 - SRAG por covid-19

Coluna **'EVOLUCAO'**

**2019**

1 - Cura\
2 - Óbito\
9 - Ignorado

**2020/2021**

1 - Cura\
2 - Óbito\
3 - Óbito por outras causas\
9 - Ignorado

Coluna **'HOSPITAL'**

1 - Sim\
2 - Não\
9 - Ignorado

Dicionário de dados 2021: https://opendatasus.saude.gov.br/dataset/9f76e80f-a2f1-4662-9e37-71084eae23e3/resource/b3321e55-24e9-49ab-8651-29cf5c8f3179/download/dicionario_de_dados_srag_hospitalizado_23.03.2021.pdf

### ANO: 2019

In [67]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2019['TXT_CLASSI_FIN'] = dados_2019['CLASSI_FIN'].replace({1.0: 'SRAG por influenza',
                                                                 2.0: 'SRAG por outro vírus respiratório',
                                                                 3.0: 'SRAG por outro agente Etiológico, qual:',
                                                                 4.0: 'SRAG não especificado',
                                                                 5.0: 'COVID-19'})

In [68]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2019['TXT_EVOLUCAO'] = dados_2019['EVOLUCAO'].replace({1.0: 'Cura',
                                                             2.0: 'Óbito',
                                                             9.0: 'Ignorado'})

In [69]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2019['TXT_HOSPITAL'] = dados_2019['HOSPITAL'].replace({1.0: 'Sim',
                                                             2.0: 'Não',
                                                             9.0: 'Ignorado'})

### ANO: 2020

In [70]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2020['TXT_CLASSI_FIN'] = dados_2020['CLASSI_FIN'].replace({1.0: 'SRAG por influenza',
                                                                 2.0: 'SRAG por outro vírus respiratório',
                                                                 3.0: 'SRAG por outro agente etiológico, qual:',
                                                                 4.0: 'SRAG não especificado',
                                                                 5.0: 'SRAG por covid-19'})

In [71]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2020['TXT_EVOLUCAO'] = dados_2020['EVOLUCAO'].replace({1.0: 'Cura',
                                                             2.0: 'Óbito',
                                                             3.0: 'Óbito por outras causas',
                                                             9.0: 'Ignorado'})

In [72]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2020['TXT_HOSPITAL'] = dados_2020['HOSPITAL'].replace({1.0: 'Sim',
                                                             2.0: 'Não',
                                                             9.0: 'Ignorado'})

### ANO: 2021

In [73]:
# criar coluna 'TXT_CLASSI_FIN' a partir das informações sobre a coluna 'CLASSI_FIN'

dados_2021['TXT_CLASSI_FIN'] = dados_2021['CLASSI_FIN'].replace({1.0: 'SRAG por influenza',
                                                                 2.0: 'SRAG por outro vírus respiratório',
                                                                 3.0: 'SRAG por outro agente etiológico, qual:',
                                                                 4.0: 'SRAG não especificado',
                                                                 5.0: 'SRAG por covid-19'})

In [74]:
# criar coluna 'TXT_EVOLUCAO' a partir das informações sobre a coluna 'EVOLUCAO'

dados_2021['TXT_EVOLUCAO'] = dados_2021['EVOLUCAO'].replace({1.0: 'Cura',
                                                             2.0: 'Óbito',
                                                             3.0: 'Óbito por outras causas',
                                                             9.0: 'Ignorado'})

In [75]:
# criar coluna 'TXT_HOSPITAL' a partir das informações sobre a coluna 'HOSPITAL'

dados_2021['TXT_HOSPITAL'] = dados_2021['HOSPITAL'].replace({1.0: 'Sim',
                                                             2.0: 'Não',
                                                             9.0: 'Ignorado'})

## Passo 6: Filtro de colunas e concatenação de tabelas

In [76]:
# seleção de colunas para filtro nos dataframes

colunas_finais = ['DT_NOTIFIC', 'SG_UF_NOT', 'DT_SIN_PRI', 'SG_UF', 'ID_MN_RESI', 'SG_UF_INTE', 'CO_MU_INTE', 'HOSPITAL', 'DT_INTERNA', 'CLASSI_FIN', 'EVOLUCAO', 'DT_EVOLUCA', 'DATA_NOTIFICACAO', 'DATA_SIN_PRI', 'DATA_INTERNACAO', 'DATA_EVOLUCAO', 'ANO_NOTIFICACAO', 'ANO_SIN_PRI', 'ANO_INTERNACAO', 'ANO_EVOLUCAO', 'TXT_CLASSI_FIN', 'TXT_EVOLUCAO', 'TXT_HOSPITAL']

In [77]:
dados = pd.concat([dados_2015_02[colunas_finais],
                   dados_2016_02[colunas_finais],
                   dados_2017_02[colunas_finais],
                   dados_2018_02[colunas_finais],
                   dados_2019[colunas_finais],
                   dados_2020[colunas_finais],
                   dados_2021[colunas_finais]],
                   ignore_index=True)

In [78]:
# criar coluna 'MES_NOTIFIC' a partir da coluna 'DATA_NOTIFICACAO' e, posteriormente, criação

dados['MES_NOTIFIC'] = dados['DATA_NOTIFICACAO'].dt.month

In [79]:
# da coluna 'TXT_MES_NOTIFIC' a partir das informações sobre a coluna 'MES_NOTIFIC'

dados['TXT_MES_NOTIFIC'] = dados['MES_NOTIFIC'].replace({1: '01. Janeiro',
                                                                         2: '02. Fevereiro',
                                                                         3: '03. Março',
                                                                         4: '04. Abril',
                                                                         5: '05. Maio',
                                                                         6: '06. Junho',
                                                                         7: '07. Julho',
                                                                         8: '08. Agosto',
                                                                         9: '09. Setembro',
                                                                         10: '10. Outubro',
                                                                         11: '11. Novembro',
                                                                         12: '12. Dezembro'})

In [80]:
dados.head()

,DT_NOTIFIC,SG_UF_NOT,DT_SIN_PRI,SG_UF,ID_MN_RESI,SG_UF_INTE,CO_MU_INTE,HOSPITAL,DT_INTERNA,CLASSI_FIN,...,DATA_EVOLUCAO,ANO_NOTIFICACAO,ANO_SIN_PRI,ANO_INTERNACAO,ANO_EVOLUCAO,TXT_CLASSI_FIN,TXT_EVOLUCAO,TXT_HOSPITAL,MES_NOTIFIC,TXT_MES_NOTIFIC
0,03/02/2015,11,30/01/2015,11,110012,RO,110012.0,1.0,02/02/2015,1.0,...,NaT,2015,2015,2015.0,NaN,SRAG por Influenza,Recebeu alta por cura,Sim,2,02. Fevereiro
1,16/02/2015,11,13/02/2015,11,110028,RO,110028.0,1.0,16/02/2015,4.0,...,2015-02-17,2015,2015,2015.0,2015.0,SRAG não especificado,Evoluiu para óbito,Sim,2,02. Fevereiro
2,16/02/2015,11,13/02/2015,11,110028,RO,110028.0,1.0,16/02/2015,4.0,...,NaT,2015,2015,2015.0,NaN,SRAG não especificado,Recebeu alta por cura,Sim,2,02. Fevereiro
3,16/02/2015,11,10/02/2015,11,110028,RO,110028.0,1.0,16/02/2015,1.0,...,NaT,2015,2015,2015.0,NaN,SRAG por Influenza,Recebeu alta por cura,Sim,2,02. Fevereiro
4,16/02/2015,11,07/02/2015,11,110028,RO,110028.0,1.0,14/02/2015,1.0,...,2015-02-24,2015,2015,2015.0,2015.0,SRAG por Influenza,Recebeu alta por cura,Sim,2,02. Fevereiro

In [81]:
# conferir em quais colunhas há células nulas

dados.isna().sum()

DT_NOTIFIC               0
SG_UF_NOT                0
DT_SIN_PRI               0
SG_UF                  369
ID_MN_RESI             369
SG_UF_INTE            4330
CO_MU_INTE          150816
HOSPITAL             75465
DT_INTERNA          199880
CLASSI_FIN          205268
EVOLUCAO            381602
DT_EVOLUCA          576530
DATA_NOTIFICACAO         0
DATA_SIN_PRI             0
DATA_INTERNACAO     199911
DATA_EVOLUCAO       576530
ANO_NOTIFICACAO          0
ANO_SIN_PRI              0
ANO_INTERNACAO      199911
ANO_EVOLUCAO        576530
TXT_CLASSI_FIN      205268
TXT_EVOLUCAO        381602
TXT_HOSPITAL         75465
MES_NOTIFIC              0
TXT_MES_NOTIFIC          0
dtype: int64

## Passo 7: Criando variáveis com filtros por SRAG_NE e COVID no Brasil e no Ceará

Nesta etapa nós filtramos o dataset em variáveis que serão utilizadas nos gráficos da análise, são elas:

* **dados_srag_ne** e **dados_srag_ne_ceara**
* **obitos_srag_ne** e **obitos_srag_ne_ceara**
* **obitos_covid** e **obitos_covid_ceara**

In [82]:
# dados = dados.loc[]
# Removendo dados de Setembro de 2021 / Incompletos 

dados_ate_08_21 = dados.query('not (TXT_MES_NOTIFIC == "09. Setembro" and ANO_NOTIFICACAO == 2021)')

In [83]:
filtro_srag_ne = dados_ate_08_21['TXT_CLASSI_FIN'] == 'SRAG não especificado'

In [84]:
dados_srag_ne = dados_ate_08_21[filtro_srag_ne]

In [85]:
dados_srag_ne_ceara = dados_srag_ne.loc[dados_srag_ne.SG_UF_INTE == 'CE']

In [86]:
dados_srag_ne['TXT_EVOLUCAO'].unique()

array(['Evoluiu para óbito', 'Recebeu alta por cura', nan, 'Ignorado',
       'Cura', 'Óbito', 'Óbito por outras causas'], dtype=object)

In [87]:
filtro_evolucao_obito = (dados_srag_ne['TXT_EVOLUCAO'] == 'Evoluiu para óbito') | (dados_srag_ne['TXT_EVOLUCAO'] == 'Óbito')

In [88]:
obitos_srag_ne = dados_srag_ne[filtro_evolucao_obito]

In [89]:
obitos_srag_ne_ceara = obitos_srag_ne.loc[obitos_srag_ne.SG_UF_INTE == 'CE']

In [90]:
# Dados da Covid:

In [91]:
filtro_covid = (dados_ate_08_21['TXT_CLASSI_FIN'] == 'SRAG por covid-19') | (dados_ate_08_21['TXT_CLASSI_FIN'] == 'COVID-19')

In [92]:
dados_covid = dados_ate_08_21[filtro_covid]

In [93]:
filtro_evolucao_obito_covid = (dados_covid['TXT_EVOLUCAO'] == 'Evoluiu para óbito') | (dados_covid['TXT_EVOLUCAO'] == 'Óbito')
obitos_covid = dados_covid[filtro_evolucao_obito_covid]

In [94]:
obitos_covid_ceara = obitos_covid.loc[obitos_covid.SG_UF_INTE == 'CE']

## Passo 8: Agrupando dados e recortes para cada gráfico

Nesta etapa, serão exportados arquivos .csv para cada gráfico desta análise, que são: 

* Gráfico 1 - Média mensal de **óbitos por Síndrome Respiratória Aguda Grave (SRAG) sem causa específica no Brasil**
* Gráfico 2 - Entre Janeiro de 2020 e Agosto de 2021, notificações de **SRAG sem causa específica** disparam no **Ceará** e superam os valores máximos e a média mensal registrados entre 2015 e 2019
* Gráfico 3 - Entre Janeiro de 2020 e Agosto de 2021, notificações de **SRAG sem causa específica** disparam no **Brasil** e superam os valores máximos e a média mensal registrados entre 2015 e 2019

* Gráfico 4 - Óbitos por SRAG não especificado e por Covid-19 no **Ceará** por mês, em 2020 e 2021
* Gráfico 5 - Óbitos por SRAG não especificado e por Covid-19 no **Brasil** por mês, em 2020 e 2021

In [95]:
# Gráfico 1 - Média mensal de óbitos por SRAG NE no Brasil:

# Filtro passo 7: obitos_srag_ne

group_mes_ano_obitos_SRAGne = obitos_srag_ne.groupby(['ANO_NOTIFICACAO','TXT_MES_NOTIFIC']).size()

In [96]:
grafico1_csv = group_mes_ano_obitos_SRAGne.reset_index().groupby('ANO_NOTIFICACAO').mean()
grafico1_csv.columns = ['Média mensal de óbitos SRAG NE']
grafico1_csv

                 Média mensal de óbitos SRAG NE
ANO_NOTIFICACAO
2015                                 113.416667
2016                                 399.833333
2017                                 213.500000
2018                                 292.166667
2019                                 302.083333
2020                                6561.333333
2021                                4890.250000

In [98]:
grafico1_csv.to_csv("dados_tratados/grafico1.csv")

In [99]:
# Gráfico 2 - Notificações de SRAG sem causa específica no Ceará

# Filtro passo 7: dados_srag_ne_ceara

In [100]:
tabela_srag_ne_ceara = dados_srag_ne_ceara.pivot_table(values=['EVOLUCAO'],
                                    index=['TXT_MES_NOTIFIC'],
                                    columns=['ANO_NOTIFICACAO'],
                                    aggfunc='count')
tabela_srag_ne_ceara = tabela_srag_ne_ceara['EVOLUCAO'].fillna(0)

In [101]:
tabela_srag_ne_ceara['max (2015-2019)'] = tabela_srag_ne_ceara.iloc[:,0:5].max(axis=1)
tabela_srag_ne_ceara['min (2015-2019)'] = tabela_srag_ne_ceara.iloc[:,0:5].min(axis=1)
tabela_srag_ne_ceara['mean (2015-2019)'] = round(tabela_srag_ne_ceara.iloc[:,0:5].mean(axis=1))

In [102]:
tabela_srag_ne_ceara.to_csv('dados_tratados/grafico2.csv')
tabela_srag_ne_ceara

ANO_NOTIFICACAO,2015,2016,2017,2018,2019,2020,2021,max (2015-2019),min (2015-2019),mean (2015-2019)
TXT_MES_NOTIFIC,,,,,,,,,,
01. Janeiro,4.0,5.0,12.0,20.0,17.0,47.0,1110.0,20.0,4.0,12.0
02. Fevereiro,6.0,8.0,8.0,14.0,56.0,67.0,1170.0,56.0,6.0,18.0
03. Março,6.0,13.0,21.0,12.0,69.0,378.0,1230.0,69.0,6.0,24.0
04. Abril,1.0,69.0,19.0,143.0,57.0,1183.0,832.0,143.0,1.0,58.0
05. Maio,2.0,77.0,16.0,322.0,85.0,2097.0,808.0,322.0,2.0,100.0
06. Junho,3.0,77.0,5.0,106.0,69.0,1900.0,750.0,106.0,3.0,52.0
07. Julho,1.0,44.0,8.0,39.0,39.0,1794.0,701.0,44.0,1.0,26.0
08. Agosto,3.0,20.0,5.0,14.0,39.0,1401.0,421.0,39.0,3.0,16.0
09. Setembro,7.0,13.0,9.0,7.0,24.0,1400.0,0.0,24.0,7.0,12.0
10. Outubro,9.0,11.0,4.0,7.0,20.0,1093.0,0.0,20.0,4.0,10.0
11. Novembro,5.0,6.0,1.0,0.0,24.0,899.0,0.0,24.0,0.0,7.0
12. Dezembro,4.0,10.0,18.0,2.0,17.0,991.0,0.0,18.0,2.0,10.0

In [103]:
# Gráfico 3 - Notificações de SRAG sem causa específica no Brasil

# Filtro passo 7: dados_srag_ne

In [104]:
tabela_srag_ne = dados_srag_ne.pivot_table(values=['EVOLUCAO'],
                                    index=['TXT_MES_NOTIFIC'],
                                    columns=['ANO_NOTIFICACAO'],
                                    aggfunc='count')
tabela_srag_ne = tabela_srag_ne['EVOLUCAO'].fillna(0)

In [105]:
tabela_srag_ne['max (2015-2019)'] = tabela_srag_ne.iloc[:,0:5].max(axis=1)
tabela_srag_ne['min (2015-2019)'] = tabela_srag_ne.iloc[:,0:5].min(axis=1)
tabela_srag_ne['mean (2015-2019)'] = round(tabela_srag_ne.iloc[:,0:5].mean(axis=1))

In [106]:
tabela_srag_ne.to_csv('dados_tratados/grafico3.csv')
tabela_srag_ne

ANO_NOTIFICACAO,2015,2016,2017,2018,2019,2020,2021,max (2015-2019),min (2015-2019),mean (2015-2019)
TXT_MES_NOTIFIC,,,,,,,,,,
01. Janeiro,346.0,358.0,755.0,831.0,909.0,1259.0,33475.0,909.0,346.0,640.0
02. Fevereiro,493.0,565.0,829.0,665.0,1225.0,1474.0,29976.0,1225.0,493.0,755.0
03. Março,823.0,2883.0,1623.0,1327.0,2333.0,17289.0,34048.0,2883.0,823.0,1798.0
04. Abril,959.0,9301.0,2194.0,3328.0,3375.0,36955.0,29240.0,9301.0,959.0,3831.0
05. Maio,1473.0,7024.0,3247.0,4695.0,4347.0,44596.0,30477.0,7024.0,1473.0,4157.0
06. Junho,1365.0,4973.0,2757.0,4101.0,4435.0,47146.0,27401.0,4973.0,1365.0,3526.0
07. Julho,1153.0,3252.0,2131.0,3705.0,3648.0,52107.0,26563.0,3705.0,1153.0,2778.0
08. Agosto,859.0,2093.0,1660.0,2792.0,2673.0,48207.0,21121.0,2792.0,859.0,2015.0
09. Setembro,674.0,1562.0,1269.0,1857.0,2108.0,41044.0,0.0,2108.0,674.0,1494.0
10. Outubro,607.0,1126.0,1263.0,1536.0,1820.0,36604.0,0.0,1820.0,607.0,1270.0
11. Novembro,472.0,944.0,1035.0,1269.0,1338.0,32494.0,0.0,1338.0,472.0,1012.0
12. Dezembro,439.0,832.0,893.0,1036.0,1232.0,33044.0,0.0,1232.0,439.0,886.0

In [107]:
# Gráfico 4 - Óbitos por SRAG sem causa específica e Covid no Ceará

# Filtro passo 7: obitos_srag_ne_ceara e obitos_covid_ceara

In [108]:
grupo_obitos_covid_ceara = obitos_covid_ceara.groupby(['ANO_NOTIFICACAO','TXT_MES_NOTIFIC']).size().reset_index()

In [109]:
grupo_obitos_srag_ne_ceara = obitos_srag_ne_ceara.loc[obitos_srag_ne_ceara.ANO_NOTIFICACAO >= 2020].groupby(['ANO_NOTIFICACAO','TXT_MES_NOTIFIC']).size().reset_index()

In [110]:
grupo_obitos_covid_ceara.to_csv('dados_tratados/grafico4-covid.csv')

grupo_obitos_covid_ceara

    ANO_NOTIFICACAO TXT_MES_NOTIFIC     0
0              2020       03. Março    49
1              2020       04. Abril  1150
2              2020        05. Maio  3784
3              2020       06. Junho  2198
4              2020       07. Julho  1252
5              2020      08. Agosto   664
6              2020    09. Setembro   538
7              2020     10. Outubro   332
8              2020    11. Novembro   366
9              2020    12. Dezembro   439
10             2021     01. Janeiro   674
11             2021   02. Fevereiro  1368
12             2021       03. Março  3881
13             2021       04. Abril  3814
14             2021        05. Maio  2227
15             2021       06. Junho  1160
16             2021       07. Julho   494
17             2021      08. Agosto   192

In [111]:
grupo_obitos_srag_ne_ceara.to_csv('dados_tratados/grafico4-srag_ne.csv')
grupo_obitos_srag_ne_ceara

    ANO_NOTIFICACAO TXT_MES_NOTIFIC    0
0              2020     01. Janeiro    6
1              2020   02. Fevereiro    3
2              2020       03. Março   77
3              2020       04. Abril  394
4              2020        05. Maio  817
5              2020       06. Junho  662
6              2020       07. Julho  462
7              2020      08. Agosto  323
8              2020    09. Setembro  274
9              2020     10. Outubro  219
10             2020    11. Novembro  177
11             2020    12. Dezembro  212
12             2021     01. Janeiro  220
13             2021   02. Fevereiro  254
14             2021       03. Março  322
15             2021       04. Abril  224
16             2021        05. Maio  182
17             2021       06. Junho  138
18             2021       07. Julho  108
19             2021      08. Agosto   76

In [112]:
# Gráfico 5 - Óbitos por SRAG sem causa específica e Covid no Brasil

# Filtro passo 7: obitos_srag_ne e obitos_covid

In [113]:

grafico5_covid = obitos_covid.groupby(['ANO_NOTIFICACAO','TXT_MES_NOTIFIC']).size().reset_index()
grafico5_covid.to_csv('dados_tratados/grafico5-covid.csv')
grafico5_covid

    ANO_NOTIFICACAO TXT_MES_NOTIFIC      0
0              2020   02. Fevereiro      2
1              2020       03. Março   1836
2              2020       04. Abril  16184
3              2020        05. Maio  33636
4              2020       06. Junho  31364
5              2020       07. Julho  31338
6              2020      08. Agosto  24132
7              2020    09. Setembro  17126
8              2020     10. Outubro  12654
9              2020    11. Novembro  16691
10             2020    12. Dezembro  26539
11             2021     01. Janeiro  31791
12             2021   02. Fevereiro  34346
13             2021       03. Março  89231
14             2021       04. Abril  65066
15             2021        05. Maio  51529
16             2021       06. Junho  42170
17             2021       07. Julho  22426
18             2021      08. Agosto  13080

In [114]:
grafico5_srag_ne = obitos_srag_ne.loc[obitos_srag_ne.ANO_NOTIFICACAO >= 2020].groupby(['ANO_NOTIFICACAO','TXT_MES_NOTIFIC']).size().reset_index()
grafico5_srag_ne.to_csv('dados_tratados/grafico5-srag.csv')
grafico5_srag_ne

    ANO_NOTIFICACAO TXT_MES_NOTIFIC      0
0              2020     01. Janeiro    208
1              2020   02. Fevereiro    196
2              2020       03. Março   3000
3              2020       04. Abril   9235
4              2020        05. Maio  12228
5              2020       06. Junho  11497
6              2020       07. Julho  10315
7              2020      08. Agosto   8666
8              2020    09. Setembro   6889
9              2020     10. Outubro   6062
10             2020    11. Novembro   5016
11             2020    12. Dezembro   5424
12             2021     01. Janeiro   5864
13             2021   02. Fevereiro   5042
14             2021       03. Março   6160
15             2021       04. Abril   5348
16             2021        05. Maio   4828
17             2021       06. Junho   4530
18             2021       07. Julho   4144
19             2021      08. Agosto   3206